name: Build Natives

on: [workflow_dispatch]

jobs:
  desktop:
    name: ${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.os }}

    strategy:
      fail-fast: false
      matrix:
        platform:
        - name: Windows (x86_64)
          id: win-x64
          os: windows-latest
          flags: -A x64
        - name: Windows (AArch64)
          id: win-arm64
          os: windows-latest
          flags: -A ARM64
        - name: Windows (x86)
          id: win-x86
          os: windows-latest
          flags: -A Win32
        - name: Linux (x86_64)
          id: linux-x64
          os: ubuntu-22.04
          flags: ""
        - name: MacOS
          id: osx
          os: macos-latest
          flags: -DCMAKE_OSX_ARCHITECTURES=arm64\;x86_64 -DCMAKE_OSX_DEPLOYMENT_TARGET=11

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: freetype/freetype
          ref: VER-2-14-1

      - name: Configure
        run: >
          cmake -B build
          -DBUILD_SHARED_LIBS=1
          -DCMAKE_DISABLE_FIND_PACKAGE_HarfBuzz=1
          -DCMAKE_DISABLE_FIND_PACKAGE_PNG=1
          -DCMAKE_DISABLE_FIND_PACKAGE_ZLIB=1
          -DCMAKE_DISABLE_FIND_PACKAGE_BZip2=1
          -DCMAKE_DISABLE_FIND_PACKAGE_BrotliDec=1
          ${{ matrix.platform.flags }}
      - name: Build
        id: build
        run: |
          cmake --build build/ --config Release --parallel

      - uses: actions/upload-artifact@v4
        with:
          name: natives-${{ matrix.platform.id }}
          path: |
            build/Release/*.dll
            build/Release/*.lib
            build/*.so
            build/*.dylib

  android:
    name: Android ${{ matrix.platform.abi }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        platform:
        - { abi: x86 }
        - { abi: x86_64 }
        - { abi: armeabi-v7a }
        - { abi: arm64-v8a }

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: freetype/freetype
          ref: VER-2-14-1

      - uses: nttld/setup-ndk@v1
        with:
          ndk-version: r21e

      - name: Configure
        run: >
          cmake -B build
          -DCMAKE_TOOLCHAIN_FILE=$(dirname $(which ndk-build))/build/cmake/android.toolchain.cmake
          -DANDROID_ABI=${{ matrix.platform.abi }}
          -DBUILD_SHARED_LIBS=1
          -DCMAKE_DISABLE_FIND_PACKAGE_HarfBuzz=1
          -DCMAKE_DISABLE_FIND_PACKAGE_PNG=1
          -DCMAKE_DISABLE_FIND_PACKAGE_ZLIB=1
          -DCMAKE_DISABLE_FIND_PACKAGE_BZip2=1
          -DCMAKE_DISABLE_FIND_PACKAGE_BrotliDec=1
      - name: Build
        run: cmake --build build/ --clean-first --config Release

      - uses: actions/upload-artifact@v4
        with:
          name: natives-android-${{ matrix.platform.abi }}
          path: build/*.so

  ios:
    name: ${{ matrix.platform.name }}
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        platform:
        - name: iOS
          archflag: -arch arm64
          sdk: iphoneos
        - name: iOS Simulator
          archflag: -arch arm64 -arch x86_64
          sdk: iphonesimulator
        - name: tvOS
          archflag: -arch arm64
          sdk: appletvos
        - name: tvOS Simulator
          archflag: -arch arm64 -arch x86_64
          sdk: appletvsimulator

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: freetype/freetype
          ref: VER-2-14-1

      - name: Configure
        run: >
          cmake -B build -G Xcode
          -DCMAKE_DISABLE_FIND_PACKAGE_HarfBuzz=1
          -DCMAKE_DISABLE_FIND_PACKAGE_PNG=1
          -DCMAKE_DISABLE_FIND_PACKAGE_ZLIB=1
          -DCMAKE_DISABLE_FIND_PACKAGE_BZip2=1
          -DCMAKE_DISABLE_FIND_PACKAGE_BrotliDec=1
          -DCMAKE_C_FLAGS=-m${{ matrix.platform.sdk }}-version-min=11

      - name: Build
        run: |
          xcodebuild -project build/freetype.xcodeproj -target freetype \
            ${{ matrix.platform.archflag }} only_active_arch=no \
            -configuration Release -sdk ${{ matrix.platform.sdk }} clean build

      - uses: actions/upload-artifact@v4
        with:
          name: natives-${{ matrix.platform.sdk }}
          path: build/Release/*.a

  archive:
    name: Create final archive
    needs:
      - desktop
      - android
      - ios
    runs-on: ubuntu-latest

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          path: FreeType2
          pattern: natives-*
          merge-multiple: false

      - name: Clean up directory structure
        run: |
          cd FreeType2

          # Android
          mkdir android
          for i in natives-android-*; do
            abi=$(echo $i | sed 's/^natives-android-//')
            mv $i android/$abi
          done

          # iOS
          mkdir -p ios/FreeType2.xcframework
          mv natives-iphoneos ios/FreeType2.xcframework/ios-arm64
          mv natives-iphonesimulator ios/FreeType2.xcframework/ios-arm64_x86_64-simulator

          # tvOS
          mkdir -p tvos/FreeType2.xcframework
          mv natives-appletvos tvos/FreeType2.xcframework/tvos-arm64
          mv natives-appletvsimulator tvos/FreeType2.xcframework/tvos-arm64_x86_64-simulator

          # Desktop
          for i in natives-*; do
            mv $i $(echo $i | sed 's/^natives-//')
          done

      - uses: actions/upload-artifact@v4
        with:
          name: natives
          path: FreeType2
